@import '../../../vars';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @include fill-height($navbar-height + $spacing-7, $spacing-8);
  background: $color_black;
}

.notfound-title {
  font-size: $font-size-5;
  font-weight: bold;
}

.notfound-desc {
  // todo
}

.notfound-note {
  color: $color_base05;
  b {
    color: $color_base06;
  }
}
