<div class="wrapper">
  <div class="container-tight">
    <h1 class="notfound-title">
      HTTP 404
    </h1>
    <h2 class="notfind-desc">
      Sorry, but we can't find the page you're looking for.
    </h2>
    <div class="notfound-note">
      <p>
        <b
          >The page might be under construction, not exist, or you are
          unauthorized to enter. Please double check your address bar.</b
        >
      </p>
      <p>
        You are visiting:
        {{ window.location.href }}
      </p>
      <p>
        If you're sure this is a bug, please
        <a href="https://gitlab.com/01010101lzy/malody-website/issues">
          drop an issue at our repository
        </a>
        or
        <a
          href="mailto://incoming+01010101lzy-malody-website-12805584-issue-@incoming.gitlab.com"
        >
          send us an email </a
        >. We will try to fix that as soon as possible!
      </p>
    </div>
    <div class="notfound-back">
      Get back
    </div>
  </div>
</div>
