@import '../../../../_vars.scss';

.navbar {
  font-family: $font-title;
  font-weight: normal;
  color: $color-white;
  font-size: $font-size-2;
  height: $navbar-height;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: stretch;

  position: sticky;
  top: 0px;
  margin-bottom: -$navbar-height;

  transition: background 250ms ease-in-out;

  &.solid {
    background: $color-base01;
  }

  .nav-start {
    display: flex;
    align-content: flex-start;
    align-items: stretch;

    :first-child {
      padding-left: $spacing-5;
    }
  }

  .nav-end {
    display: flex;
    align-content: flex-end;
    align-items: stretch;

    .nav-element:last-child {
      // padding-right: $spacing-4;
    }
  }
}

// .logo {
//   @include padding-h($spacing-4);

//   vertical-align: middle;
//   order: 2;

//   display: flex;
//   align-items: center; /* align vertical */

//   font-weight: 900;
// }

.nav-element {
  @include padding-h($spacing-5);

  vertical-align: middle;
  order: 2;

  display: flex;
  align-items: center; /* align vertical */

  cursor: pointer;
  color: $color_white;

  &.logo {
    font-weight: 900;
  }

  &.user-avatar {
    @include padding-v($spacing-0);

    padding-right: $spacing-4;
    vertical-align: middle;
    display: flex;
    order: 10;

    .text {
      padding-right: $spacing-2;
      font-weight: bold;
    }

    .avatar {
      @include margin($spacing-1);
      width: 28px;
      object-fit: scale-down;
      clip-path: circle();
    }
  }

  &.highlight-on-hover {
    &:hover {
      background-color: mix($color_base01, $color_accent);
    }
  }

  &.highlight {
    background: $color_accent;
    &:hover {
      background: lighten($color_accent, 10%);
    }
  }

  &.heavy {
    font-weight: bold;
  }

  transition: background 300ms cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-base00;
  }
}
