<div class="navbar" [class.solid]="shouldNavbarBeSolid">
  <div class="nav-start">
    <a class="nav-element logo" [routerLink]="['/']"> MALODY</a>
  </div>
  <div class="nav-end">
    <a id="nav-docs" class="nav-element" [routerLink]="['/docs']">
      DOCS
    </a>
    <a id="nav-repo" class="nav-element" [routerLink]="['/repo']">
      REPO
    </a>
    <a id="nav-forum" class="nav-element" [routerLink]="['/forum']">
      FORUM
    </a>
    <a
      id="nav-me"
      class="nav-element user-avatar"
      *ngIf="userService.isLoggedIn"
      [routerLink]="['/u/me']"
    >
      <div class="text">
        {{ userService.userData.username.toUpperCase() }}
      </div>
      <img
        class="avatar"
        [src]="userService.userData.avatarUri"
        [alt]="userService.userData.username"
        srcset=""
        *ngIf="userService.isLoggedIn"
      />
    </a>
    <a
      id="nav-login"
      class="nav-element highlight-on-hover heavy"
      *ngIf="!userService.isLoggedIn"
      [routerLink]="['/login']"
    >
      SIGN IN
    </a>
    <a
      id="nav-register"
      class="nav-element highlight heavy"
      *ngIf="!userService.isLoggedIn"
      [routerLink]="['/register']"
    >
      SIGN UP
    </a>
  </div>
</div>
