@import '../../../vars';

.wrapper {
  background: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;

  @include fill-height($spacing-5, $spacing-5);
}

input {
  font-family: $font-title;
  font-size: $font-size-3;
  font-weight: bold;
  padding: $spacing-4;
  margin: $spacing-2 $spacing-0;
  background: transparent;
  color: $color-white;
  border-color: $color-base01;
  border-style: solid;
  border-width: 4px;
  transition: all 250ms ease-in-out;

  &::placeholder {
    font-family: inherit;
    color: $color-base04;
  }

  &:focus {
    border-color: $color-info;
  }

  &.warning {
    border-color: $color-warning;
  }

  @include activate-below($breakpoint-md) {
    font-size: $font-size-2;
    padding: $spacing-4 $spacing-3;
  }
}

.large-title {
  font-size: $font-size-5;

  #large-title-sign-in {
    font-weight: 400;
  }

  #large-title-malody {
    font-weight: 900;
  }
}

.info-line {
  margin: $spacing-2 $spacing-0;

  font-family: $font-title;
  font-weight: bold;
  display: flex;

  @include activate-above($breakpoint-md) {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include activate-below($breakpoint-md) {
    font-size: $font-size-1;
    margin: $spacing-1 $spacing-0;
    align-items: stretch;
    flex-direction: column;

    & > div {
      margin: $spacing-1 $spacing-0;
    }
  }

  & > div {
    margin: $spacing-2 $spacing-0;
  }

  #password-info {
    color: $color-warning;
    text-align: left;
  }

  #forgot-password {
    color: $color-base04;
    text-align: right;
  }
}

.button-line {
  display: flex;
  margin: $spacing-4 (-1 * $spacing-2);

  @include activate-above($breakpoint-md) {
    align-items: center;
    flex-wrap: wrap;
  }

  @include activate-below($breakpoint-md) {
    align-items: stretch;
    flex-direction: column;
  }

  #sign-in {
    @include activate-above($breakpoint-md) {
      padding-right: $spacing-8 * 2;
    }
  }
}
