<div class="wrapper">
  <div class="skip-navbar"></div>

  <form class="container-tight">
    <h1 class="large-title">
      <span id="large-title-sign-in">
        SIGN IN TO
      </span>
      <br />
      <span id="large-title-malody">
        MALODY
      </span>
    </h1>
    <input
      type="text"
      name="email"
      id="email"
      #email_el
      required
      class="input"
      [class.warning]="warnEmail"
      autocomplete="email"
      placeholder="Email"
      [(ngModel)]="email"
    />
    <input
      type="password"
      name="password"
      id="password"
      #password_el
      required
      class="input input-psw"
      [class.warning]="warnPassword"
      autocomplete="current-password"
      placeholder="Password"
      [(ngModel)]="password"
    />
    <div class="info-line">
      <div id="password-info">
        {{ passwordWarning }}
      </div>
      <div id="forgot-password">
        Forgot password?
      </div>
    </div>
    <div class="button-line">
      <button
        id="sign-in"
        class="button solid accent"
        (click)="login()"
        (submit)="login()"
        type="submit"
      >
        SIGN IN
      </button>
      <button id="register" class="button transparent accent">
        SIGN UP
      </button>
    </div>
  </form>
</div>
