@font-face {
  src: url("assets/fonts/metropolis/Metropolis-Thin.woff2");
  font-family: Metropolis;
  font-weight: 100;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-ExtraLight.woff2");
  font-family: Metropolis;
  font-weight: 300;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-Light.woff2");
  font-family: Metropolis;
  font-weight: 300;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-Regular.woff2");
  font-family: Metropolis;
  font-weight: 400;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-Medium.woff2");
  font-family: Metropolis;
  font-weight: 500;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-SemiBold.woff2");
  font-family: Metropolis;
  font-weight: 600;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-Bold.woff2");
  font-family: Metropolis;
  font-weight: 700;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-ExtraBold.woff2");
  font-family: Metropolis;
  font-weight: 800;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-Black.woff2");
  font-family: Metropolis;
  font-weight: 900;
}

@font-face {
  src: url("assets/fonts/metropolis/Metropolis-ThinItalic.woff2");
  font-family: Metropolis;
  font-weight: 100;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-ExtraLightItalic.woff2");
  font-family: Metropolis;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-LightItalic.woff2");
  font-family: Metropolis;
  font-weight: 300;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-RegularItalic.woff2");
  font-family: Metropolis;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-MediumItalic.woff2");
  font-family: Metropolis;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-SemiBoldItalic.woff2");
  font-family: Metropolis;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-BoldItalic.woff2");
  font-family: Metropolis;
  font-weight: 700;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-ExtraBoldItalic.woff2");
  font-family: Metropolis;
  font-weight: 800;
  font-style: italic;
}
@font-face {
  src: url("assets/fonts/metropolis/Metropolis-BlackItalic.woff2");
  font-family: Metropolis;
  font-weight: 900;
  font-style: italic;
}
