@import '../../../_vars.scss';

.index-screen-wrapper {
  @include regular-wrapper;

  background-color: $color_black;

  @include fill-height($spacing-8, $spacing-7);

  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;

  font-family: $font_title;
}

.body-wrapper {
  @include regular-wrapper;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.huge-title {
  font-size: $font-size-5;
  font-weight: 800;
  margin: $spacing-2 0;
}

.huge-subtitle {
  font-size: $font-size-2;
  font-weight: 500;
  margin: $spacing-2 0;
  color: $color_base05;
}

.button-display-line {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: $spacing-4 -1 * $spacing-2;
}

.button {
  height: 48px;
  @include activate-below($breakpoint-md) {
    height: 36px;
  }
}

#btn-download-wrapper {
  display: flex;
  flex-wrap: nowrap;
}

#btn-download {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;

  .caption {
    font-family: $font_title;
    // color: $color_base03;
    font-size: $font-size-2;
    font-weight: normal;
  }
}

#link-display-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin: $spacing-3 -1 * $spacing-3;
  icon {
    margin: $spacing-3;
  }
}

#learn-more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  margin: $spacing-3 $spacing-0;
  // --spacing-2: $spacing-2;

  transition: margin 250ms ease-in-out;

  @include activate-above($breakpoint-md) {
    margin-left: -$spacing-2 - 24px;
  }

  #learn-more-text {
    margin: $spacing-0 $spacing-2;
  }
}
