<div class="index-screen-wrapper">
  <div class="container" #intro_screen>
    <!-- This is the large intro screen -->
    <h1 class="huge-title">
      MALODY
    </h1>
    <h4 class="huge-subtitle">
      All your favorite music game styles. For all your devices.
    </h4>
    <div class="button-display-line">
      <div id="btn-watch-trailer" class="button transparent white">
        TRAILER
      </div>
      <div id="btn-download-wrapper">
        <div id="btn-download" class="button solid white">
          <div>
            DOWNLOAD
          </div>
          <div class="caption">
            Windows x64
          </div>
        </div>
        <div id="btn-showmore-download" class="button transparent icon-button">
          <icon [path]="mdi_rightChevron"></icon>
        </div>
      </div>
    </div>
    <div id="link-display-line">
      <icon [path]="mdi_github"></icon>
      <icon [path]="mdi_twitter"></icon>
      <icon [path]="mdi_discord"></icon>
    </div>
    <div id="learn-more">
      <icon [path]="mdi_downArrow"></icon>
      <div id="learn-more-text">
        LEARN MORE
      </div>
    </div>
  </div>
</div>
<div class="body-wrapper" @blockDisplayTrigger>
  <div class="container">
    <div class="row block-fade-in" id="join-community">
      <div class="index-text-block">
        <h2>
          A Community-driven music game emulator
        </h2>
        <p>
          <!-- placeholder -->
        </p>
      </div>
    </div>
    <div class="row block-fade-in" id="join-community">
      <div class="index-text-block">
        <h2>
          A Community-driven music game emulator
        </h2>
        <p>
          Malody is made by a group of music gamers.
        </p>
      </div>
    </div>
  </div>
</div>
