// This file hosts various variables for Malody website.

// Gradient colors
$color-black: #000000;
$color-base00: #282a30;
$color-base01: #303543;
$color-base02: #6e748c;
$color-base03: #787e95;
$color-base04: #888ea5;
$color-base05: #acb0bf;
$color-base06: #d1d5e0;
$color-base07: #eaecf2;
$color-white: #ffffff;

// Accent colors
$color-accent: #2b4db9;
$color-info: #02ceff;
$color-warning: #f7d848;
$color-error: #ef6666;

// fonts
$font-mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono',
  'Bitstream Vera Sans Mono', Courier, monospace;

$font-body: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

$font-body-condensed: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial,
  sans-serif;

$font-body-serif: 'IBM Plex Serif', 'Georgia', Times, serif;

$font-title: 'Metropolis', 'Poppins', 'Segoe UI', 'Helvetica Neue', 'Segoe UI',
  'Arial', sans-serif;

$font-size-1: 12px;
$font-size-2: 16px;
$font-size-3: 24px;
$font-size-4: 32px;
$font-size-5: 48px;

// Spacings
$spacing-0: 0px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 24px;
$spacing-6: 36px;
$spacing-7: 48px;
$spacing-8: 64px;

// Breakpoints
$breakpoint-lg: 1280px;
$breakpoint-md: 720px;

$page-width-lg: 960px;
$page-width-md: 640px;

$page-width-tight-lg: 720px;
$page-width-tight-md: 560px;

// Magic numbers
$navbar-height: 72px;

// Spacing mixins
@mixin margin($spacing) {
  margin: $spacing;
}

@mixin margin-h($spacing) {
  margin-left: $spacing;
  margin-right: $spacing;
}

@mixin margin-v($spacing) {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

@mixin padding($spacing) {
  padding: $spacing;
}

@mixin padding-h($spacing) {
  padding-left: $spacing;
  padding-right: $spacing;
}

@mixin padding-v($spacing) {
  padding-top: $spacing;
  padding-bottom: $spacing;
}

@mixin regular-wrapper {
  padding: $spacing-4;
}

// A regular responsive container
@mixin regular-responsive-container {
  @media screen and (min-width: $breakpoint-lg) {
    width: $page-width-lg;
  }

  @media screen and (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {
    width: $page-width-md;
  }

  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
  }

  transition: width 250ms ease-in-out;
}

// A tight container for material that needs less width. e.g. long text
@mixin tight-responsive-container {
  @media screen and (min-width: $breakpoint-lg) {
    width: $page-width-tight-lg;
  }

  @media screen and (max-width: $breakpoint-lg) and (min-width: $breakpoint-md) {
    width: $page-width-tight-md;
  }

  @media screen and (max-width: $breakpoint-md) {
    width: 100%;
  }

  transition: width 250ms ease-in-out;
}

@mixin activate-between($low, $high) {
  @media screen and (max-width: $low) and (min-width: $high) {
    @content;
  }
}

@mixin activate-above($low) {
  @media screen and (min-width: $low) {
    @content;
  }
}

@mixin activate-below($high) {
  @media screen and (max-width: $high) {
    @content;
  }
}

@mixin fill-height(
  $padding-top,
  $padding-bottom,
  $extra-top: 0px,
  $extra-bottom: 0px
) {
  --padding-top: #{$padding-top};
  --padding-bottom: #{$padding-bottom};
  --extra-top: #{$extra-top};
  --extra-bottom: #{$extra-bottom};
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  min-height: calc(
    100vh - var(--padding-bottom) - var(--padding-top) - var(--extra-bottom) -
      var(--extra-top)
  );
}
