/* You can add global styles to this file, and also import other style files */
@import '_vars.scss';
@import 'assets/fonts/fonts';

body {
  background: $color-base00;
  color: $color-white;
  font-family: $font-body;
  padding: 0px;
  margin: 0px;
  fill: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

a {
  text-decoration: none;
}

p a {
  color: currentColor;
  font-weight: bold;
  text-decoration: underline;

  // text-decoration-color: $color_accent;

  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover {
    color: $color-info;

    // text-decoration-color: $color_warning;
  }
}

.wrapper {
  @include regular-wrapper;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  @include regular-responsive-container;

  display: flex;
  flex-flow: column;
}

.container-tight {
  @include tight-responsive-container;

  display: flex;
  flex-flow: column;
}

.skip-navbar {
  height: $navbar-height;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  padding: $spacing-4 $spacing-7 $spacing-4 $spacing-4;
  margin: $spacing-2 $spacing-2;
  color: $color-white;
  font-family: $font-title;
  font-weight: bold;
  font-size: $font-size-3;
  display: flex;
  align-items: center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border-width: $spacing-1;
  border-style: solid;
  --border-color: #{$color-white};
  --background-color: transparent;
  --text-color: #{$color-white};
  --text-color-transparent-bg: #{$color-white};
  --background-transparent-highlight: #{transparentize($color-white, 0.8)};
  --text-highlight: #{$color-white};
  --text-highlight-transparent-bg: #{$color-white};
  --border-highlight: #{$color-info};

  @include activate-below($breakpoint-md) {
    font-size: $font-size-2;
    padding: $spacing-4 $spacing-6 $spacing-4 $spacing-3;
  }

  &.white {
    --border-color: #{$color-white};
    --background-color: #{$color-white};
    --text-color: #{$color-base00};
    --text-color-transparent-bg: #{$color-white};
    --text-highlight: #{$color-accent};
    --text-highlight-transparent-bg: #{$color-info};
    --background-transparent-highlight: #{transparentize($color-white, 0.8)};
    --border-highlight: #{$color-info};
  }

  &.accent {
    --border-color: #{$color-accent};
    --background-color: #{$color-accent};
    --text-color: #{$color-white};
    --text-color-transparent-bg: #{$color-white};
    --text-highlight-transparent-bg: #{$color-white};
    --background-transparent-highlight: #{transparentize($color-accent, 0.8)};
    --border-highlight: #{$color-info};
    --text-highlight: #{$color-white};
  }

  &.transparent {
    border-color: var(--border-color);
    background-color: transparent;
    color: var(--text-color-transparent-bg);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--background-transparent-highlight);
      border-color: var(--border-highlight);
      color: var(--text-highlight-transparent-bg);
    }
  }

  &.solid {
    border-color: var(--border-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
      color: var(--text-highlight);
      border-color: var(--border-highlight);
    }
  }

  &.icon-button {
    padding: $spacing-4 $spacing-1;

    & > icon {
      height: 1.5rem;
      margin: $spacing-0;
    }
  }
}
